HOST=::
PORT=9470
NATS_URL=nats://127.0.0.1:4222
NATS_CLIENT_NAME=livestore
MQTT_BROKER_URL=
MQTT_TOPIC=#
MQTT_USERNAME=
MQTT_PASSWORD=
LIVESTORE_JS_STREAM=LIVESTORE_MQTT_INGEST
LIVESTORE_JS_SUBJECT_PREFIX=livestore.mqtt
LIVESTORE_HEALTH_KV_BUCKET=livestore_health
